# Виртуальное окружение
venv/
# Большие бинарные файлы весов
*.pth
*.pt
# Папка U-2-Net репозитория — если хочешь, чтобы она была как подмодуль или у тебя уже внешний репозиторий
U-2-Net/
# Маски и данные, если не хотят выкладывать весь датасет
data/
# Файлы настроек IDE / временные
__pycache__/
*.pyc
*.log
